* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #23232310;
  color: #0b0c12;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 375px;
  height: 658px;
  background-image: url("./img/bg-top.svg");
}

body::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 353px;
  height: 304px;
  background-image: url("./img/bg-bottom.svg");
}

input {
  display: none;
}

h1 {
  font-size: 32px;
}

.inputPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 40px;
}

label {
  position: relative;
  width: 56px;
  height: 32px;
  border-radius: 16px;
  background: linear-gradient(103.1deg, #068be4 7.86%, #0061a7 126.08%);
  cursor: pointer;
  transition: 0.3s;
}

label:hover {
  opacity: 0.8;
}

label.active > span {
  left: 5px;
}

label > span {
  position: absolute;
  left: 27px;
  top: 4px;
  width: 24px;
  height: 24px;
  background: #f5f7fa;
  border-radius: 12px;
  transition: 0.2s;
}

main {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1050px;
  width: 100%;
  margin-top: 64px;
}

.plan {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-height: 452px;
  padding: 32px 30px;
  background-color: #f5f7fa;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 50px 0px;
}

.plan:first-child {
  border-radius: 10px 0 0 10px;
}

.destaque {
  height: 500px;
  max-height: 500px;
  border-radius: 10px;
  background: linear-gradient(180deg, #0077C7 7.86%, #0061A7 126.08%);
  color: #f5f7fa;
}

.destaque button {
  background: #f5f7fa;
  color: #0061a7;
  border: 1px solid #f5f7fa;
}

.destaque button:hover {
  background: transparent;
  color: #f5f7fa;
}

.destaque li {
  border-bottom: 1px solid #dddddd30;
}

.destaque li:first-child {
  border-top: 1px solid #dddddd30;
}

.plan:last-child {
  border-radius: 0 10px 10px 0;
}

h2 {
  font-size: 19px;
  letter-spacing: -0.03em;
}

.plan > p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 72px;
  letter-spacing: -0.03em;
  margin-top: 18px;
}

.plan > p span {
  font-size: 40px;
  letter-spacing: -0.03em;
}

ul {
  list-style: none;
  margin-top: 24px;
}

li {
  padding: 17px 0;
  border-bottom: 1px solid #dddddd;
}

li:first-child {
  border-top: 1px solid #dddddd;
}

button {
  width: 100%;
  margin-top: 32px;
  padding: 14px;
  font-size: 13px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  border: 1px solid #068be4;
  background: linear-gradient(103.1deg, #068be4 7.86%, #0061a7 126.08%);
  color: #f5f7fa;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  color: #0061a7;
  background: #f5f7fa;
}

@media (max-width: 934px) {
  header {
    margin-top: 64px;
  }
  main {
    grid-template-columns: 1fr 1fr;
    gap: 14px;
  }
  .destaque {
    grid-column: 1 / -1;
    grid-row: 1;
    height: initial;
  }
  .plan:nth-child(odd) {
    border-radius: 10px;
  }
}

@media (max-width: 643px) {
  body {
    padding: 10px;
  }
  body::before,
  body::after {
    display: none;
  }
  main {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .plan {
    padding: 24px;
  }
  .destaque {
    grid-row: 2;
    padding: 24px;
  }
}

@media (max-height: 850px) {
  body {
    justify-content: flex-start;
  }
  header {
    margin-top: 50px;
  }
}
